body{
    margin: 0;
    margin-top: 0;
    text-align: center;
}

.top-container{
    background-color: #E4F9F5;
    padding: 50px;
  
    position: relative;
    
}
h1{
    margin-top: 50px auto 0 auto;
    font-family: 'Waterfall', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}
h2{
    font-family: 'Karla', sans-serif;
    color: #66BFBF;
    font-size: 1.5rem;
 

}
h3{
    color:  #11999E;
    font-size: 1.5rem;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 20px;

}
.bottom-cloud{
    position: absolute;
    left: 230px;
    bottom: 300px;
}
p{
    color: #40514E;
    font-family: 'Merriweather', serif;
}
.bottom-container{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.skill-one{
    width: 23%;
    float: left;
    margin-right: 40px;
 
    
}
.skill-two{
    width: 23%;
    float: right;
    margin-left: 40px;
    
}
.skill-three{
    width: 23%;
    float: left;
    margin-right: 40px;
    
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
}
.contact-msg{
width: 40%;
margin: 40px auto 60px ;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Karla', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  a{
      color: #11999E;
      margin: 10px 10px;
      text-decoration: none;

  }
  a:hover{
      color: #EAF6F6;
  }
  .footer{
      background-color: #66bfbf;
      padding: 50px 0 20px;
      font-family: 'Karla', sans-serif;
  }
  .copyright{
      color: #EAF6F6;
      font-size: 0.75rem;
      padding: 20px 0;
  }
